html, body {
  background-color: #182140;
}

.main-menu .link.selected {
  border-color: #6cd9f6;
}

.tree .item.selected a {
  color: white;
  border-color: #6cd9f6;
  font-weight: bold;
  background-color: #e3fcf71f;
}
